<h1>Christian Taylor's Clumsy Tiger || ITIS 3135</h1>
    <nav>
        <a href="/itis3135/itis3135">Home</a>
        ||
        <a href="/itis3135/introduction.html">introduction</a>
        ||
        <a href="/itis3135/contract.html">Contract</a>
        ||
        <a href="/itis3135/table">Table</a>
        ||
        <a href="/itis3135/forms.html">Form</a>
        ||
        <a href="/itis3135/website_evaluations.html">Website Evaluations</a>
        ||
        <a href="itis3135/clumsytiger.com/about.html">Clumsy Tiger About Page</a>
        ||
        <a href="/ctayl171/itis3135/cthelps.co/index.html">Firm Home Page</a>
    </nav>
