.formContainer{
display: flex;
flex-wrap: wrap;
flex-direction: column;
padding: 1px;
gap: 18px;
margin: 20px;
}



.container_child
{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  gap:inherit  
}



label
{

  width: 480px;
  text-wrap: wrap;
}


#parentUL> li{
  padding:5px ;
}
















body
{
  margin: 50px;
  font-family: sans-serif;
  color: #2a4977;
  background-color: #D8DBE2;
  font-size: 175%;
}

main{
    text-wrap: auto;

}