
/* https://coolors.co/d8dbe2-a9bcd0-58a4b0-373f51-daa49a */

body
{

  font-family: sans-serif;
  color: #2a4977;
  background-color: #D8DBE2;
  font-size: 100%;
  
}

nav{
  background-color: #FFA69E;
  border-radius: 15px;
  border-color: #373f51;
  border-style:ridge;
  border-width: 3px;
  padding: 5px;
  max-width: fit-content;
}

a{
  color: #373f51;
  text-decoration: none;
}

a:hover{
  color: #537A5A;
}

.webeval section:first h2
{
color: green;
}





@media screen and (min-width: 1024px) {
  /* Your CSS rules for desktop go here */
  /* For example: */
  main {
      font-size: 20px;
      max-width: 1800px;
      margin: 0 auto;
      width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  main 
  {
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
  }
}


@media screen and (max-width: 769px){
  main 
  {
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
  }
}




