.formContainer{
display: flex;
flex-wrap: wrap;
flex-direction: column;
padding: 1px;
gap: 18px;
margin: 20px;

}


.container_child
{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  gap:inherit  
}

label
{
  width: 200px;
  text-wrap: wrap;
}


















body
{
  margin: 100px;
  font-family: sans-serif;
  color: #58a4b0;
  background-color: #D8DBE2;
  font-size: 100%;
}

main{
    text-wrap: auto;

}